.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 600px;
  margin: 100px auto;
  grid-template-rows: 100px 100px;
  gap: 40px;

}

.btn {
  font-size: 30px;
}

.orange {
  background-color: orange;
}


.red {
  background-color: red;
}



.green{
    background-color: green;
}